page-enter{
.content-ios {
    color: #488aff;
    background-color: #427feb;
}
.button-outline-ios {
        border-top-color: rgb(244, 244, 244);
    border-right-color: rgb(244, 244, 244);
    border-bottom-color: rgb(244, 244, 244);
    border-left-color: rgb(244, 244, 244);

        color: #f4f4f4;
}
}

